{% load static %}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and iOS mobile phones.</p>
                <div class="app-logo">
                    <img src="{% static 'products/images/play-store.png' %}" alt="Play Store">
                    <img src="{% static 'products/images/app-store.png' %}" alt="App Store">
                </div>
            </div>

            <div class="footer-col-2">
                <img src="{% static 'products/images/logo-white.png' %}" alt="RedStore Logo">
                <p>Our purpose is to sustainably make the pleasure and benefits of shopping accessible to everyone.</p>
            </div>

            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="#">Coupons</a></li>
                    <li><a href="#">Blog Post</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Join Affiliate</a></li>
                </ul>
            </div>

            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>

        <hr>
        <p class="copyright">
            &copy; 2025 - RedStore by Vishnu Babi
        </p>
    </div>
</div>
